<h1> About </h1>
<p> What is VAT refund?</p>

<form class="form-horizontal">
<fieldset>


<!-- Button Drop Down -->
<div class="form-group">
  <label class="col-md-4 control-label" for="buttondropdown">Select Country</label>
  <div class="col-md-4">
    <div class="input-group">
      <input id="buttondropdown" name="buttondropdown" class="form-control" placeholder="" type="text">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Country
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">England</a></li>
          <li><a href="#">France</a></li>
          <li><a href="#">Germany</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Button Drop Down -->
<div class="form-group">
  <label class="col-md-4 control-label" for="buttoncurrency">Enter Amount</label>
  <div class="col-md-4">
    <div class="input-group">
      <input id="buttoncurrency" name="buttoncurrency" class="form-control" placeholder="0.00" type="text">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          EUR
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">EUR</a></li>
          <li><a href="#">GBP</a></li>
          <li><a href="#">USD</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="description">Product Description</label>  
  <div class="col-md-4">
  <input id="description" name="description" type="text" placeholder="Description" class="form-control input-md">
    
  </div>
</div>

</fieldset>
</form>

<button type="button" class="btn btn-primary btn-lg">Calculate</button>