<h1> About </h1>
<p> Tax Refund Calculator is a website designed to help bring awareness to Tax-Free shopping in the EU and a way to estimate
how much refund you can get from items. It is also designed to make it easier to decide where to buy your items.</p>

