
<div class="alert alert-warning">
  <strong>Warning!</strong> All calculations on this website are only estimates. They are for reference only. We are not liable for any losses that may occur from your refund.
</div>
<h1> About </h1>

<p> Tax Refund Calculator is a website designed help consumers estimate the total refund you can get from Tax-Free shopping in EU countries.</p>
<p>The Tax Refund Calculator can be used in many different ways, such as a shopping list or a shopping comparisor.</p>

<h3>Shopping list</h3>

<p>To use the calculator as a shopping list in the Europe, simply enter the desciption, amount and country of the items, you are thinking to buy.</p>
<p>Click the calculate button to add the item to the table.</p>
<p>When all items are added, click the Save As PDF.</p>
<p>Clicking this button would save a PDF copy of the table to your computer or android smartphone.</p>

<h3>Shopping comparisor</h3>

<p> To use the calculator as a shopping comparisor for items bought in the EU, simply enter the description and amount for the item.</p>
<p> Click the calculate button.</p>
<p> Select the different countries from dropdown list.</p>
<p> Click the calculate button again.</p>
<p> Look and the table and you'll be able to see the price differences</p>


<div class="alert alert-success col-sm-4">
  <small> <strong>hint: </strong>To find prices for different items, simply change the language or country </small>
</div>

