<div class="container">
    
    <h2>FAQ </h2>
    
    <div class="panel-group" id="accordion">
        <div class="faqHeader">Most Common Questions</div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is Tax Free Shopping?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Tax Free Shopping allows travellers leaving the European Union (EU) to get a VAT refund on goods they buy and take home. It cannot be used for services.
                </div>
            </div>
        </div>
        
                <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">How do I get a VAT Refund?</a>
                </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse">
                <div class="panel-body">
                    
                    Here is how you would go about getting a VAT Refund:
                    <br /> <br />
                    <ul>
                        <li> When you are in the shop, ask the shop assistant in advance whether they provide this service.<br /><br /></li>
                        <li> Ask the shop assistant what threshold applies to the purchase in order to be eligible for a refund.<br /><br /></li>
                        <li> At the check-out, the shop assistant will ask you to provide proof that you are a visitor to the EU. You will need to show your passport or other identity document proving your residence outside the EU.<br /><br /></li>
                        <li> The shop assistant will ask you to fill in a form with the necessary details. You may be asked to show your ticket as proof you are leaving the EU within the required time. The shop assistant will fill in the shop’s part of the form.<br /><br /></li>
                        <li> Make sure you understand exactly what you need to do and how you receive the refund. In some cases, the shop itself will refund you. In other cases, the shop will use a third party to organise the refunds on its behalf.<br /><br /></li>
                        <li> Make sure you understand whether the shop takes an administrative fee for this service (which will be later deducted from the refunded amount) and if so what is the fee.<br /><br /></li>
                        <li> You will receive an invoice for the goods. You must show the invoice, the refund form, the goods and any other necessary documents to the customs officers of the last EU country you leave. The customs officers must stamp the form as proof of export. Without the stamp, you will not obtain the refund.<br /><br /></li>
                        <li> You must then follow the steps explained at your refund document or by the shop assistant. You can claim your VAT refund in bigger airports immediately, otherwise you will have to send the refund form to the address given in the shop.</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Am I eligible for Tax Free shopping?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                   All visitors to the EU are eligible to Tax Free Shopping. 
                   
                   A ‘visitor’ is any person who permanently or habitually lives in a country outside the EU. Your address as shown in your passport will be taken as the place where you permanently or habitually live.
                 
                </div>
            </div>
        </div>
        
        
                <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Will I get all the VAT Refunded?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    This is unlikely. In the great majority of cases, there will be an administrative charge for the service. Make sure you find out how much you will be charged when still in the shop.
                </div>
            </div>
        </div>
        
                        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Can I buy goods VAT-free from any shop?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    No. Shops do not have to offer a VAT-free facility. Those that choose to do so must make the appropriate arrangements with the tax authorities.
                </div>
            </div>
        </div>
        
        <div class="faqHeader">VAT Questions</div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What is VAT?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                   VAT stands for Value Added Tax. It is a local sales tax that is added onto items, which is usually included in the price.
                </div>
            </div>
        </div>
        
                <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Can all goods be bought VAT-free?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    No. There are some goods that do not qualify. The facility is intended for goods that could in principle be carried in personal luggage. Goods that have to be exported as freight, for example, and cars and yachts are excluded. Some countries may also exclude other categories of goods.
                </div>
            </div>
        </div>
        
        <div class="faqHeader">Shopping Questions</div>
        
         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">How would I know whether a shop is a VAT-free shop?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    The shop will usually display a prominent sign in the window, advertising that it is a ‘tax-free’ or ‘VAT-free’ shop. This may of course be in the local language.
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Can’t I just pay the VAT-free price in the shop?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                   No. You must pay the full, VAT-inclusive price for the goods in the shop; you will get the VAT refunded once you have complied with the formalities and can show proof of export.
                </div>
            </div>
        </div>
        

        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Can someone else go to the shop for me?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                   No. You must be there in person in order to make a VAT-free purchase, although you do not have to pay for the goods yourself.
                </div>
            </div>
        </div>
        
        <div class="faqHeader">Leaving the EU Questions</div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">How soon do the goods have to leave the EU?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    The goods you buy VAT-free must leave the EU by the end of the third month after that in which you buy them.
                    <br />
                    <br />
                    <em>Example Bruce, who lives in Canada, has been on holiday in Italy for two weeks. He buys a designer suit from a VAT-free shop on 10 September. The suit must leave EU territory no later than 31 December.
                    </em>
                </div>
            </div>
        </div>
        
                <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Do I need to take the goods with me when I leave the EU?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes. The goods must accompany you when you leave the EU. You cannot buy VAT-free goods if for any reason, you cannot or do not wish to take the goods with you when leaving the EU. Moreover, you have to be ready to demonstrate those goods to the customs officer who will stamp your VAT refund form.
                </div>
            </div>
        </div>
        
                        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Do I have to leave the EU straight away from the country where I purchased goods?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    No. You can buy VAT-free goods even if you are going to be visiting other EU countries before you finally return home, as long as you actually leave the EU with the goods within the time limit. You have to get your documents stamped by a customs officer at the point of exit of the EU – not necessary in the same EU country where you bought it.
                </div>
            </div>
        </div>
        
           <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">What if I did not get a stamp?</a>
                </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse">
                <div class="panel-body">
                    In principle, the stamped VAT refund document is obligatory for VAT refund. Contact the entity in which you bought goods for the information whether they would accept other documents as a proof that the goods were exported in a due time and give you a refund.
                </div>
            </div>
        </div>
        

        
    </div> <!-- Close group -->
</div>

