<div class="container">
<div class="alert alert-warning row row-centered">
  <p><strong>Directions</strong></p> <small>Select Country --- Enter Amount --- Enter Product Description --- Calculate</small>
</div>
  <div class="row row-centered">
      <p><h2> Calculator</h2></p>
      <p><small>Calculate VAT refund from EU Tax-Free Shopping</small> 
      <small>{{#link-to "FAQ"}}more info{{/link-to}}</small></p>
      
      <br /><br />
      {{calculator-input}}
  </div>     
</div> <!-- /.container -->

